<!DOCTYPE html>
<html>
  <head>
    <title>MadLibs</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
   <div id="story">
        <h1>A fantastical adventure</h1>
        <p>
        One day, @Model.GetPersonOne() and @Model.GetPersonTwo() were walking through the woods, when suddenly a giant @Model.GetAnimal() appeared. @Model.GetExclamation()! @Model.GetPersonOne() cried. The two of them @Model.GetVerb() as quickly possible, and when they were safe, @Model.GetPersonOne() and @Model.GetPersonTwo() gave each other a giant @Model.GetNoun().
</p>
      </div>
  </body>
</html>
      